/* General Stylings */
body {
    box-sizing: border-box;
    margin: 0;
    background-color: rgb(179, 214, 211);
    font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
    font-weight: normal;
}

.container {

    margin: 0 auto;
    width: 50%;
    margin-top: 5rem;
    height: min(30rem);

    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 20px;

    background-color: #f3f3f3;
}

.container h1 {
    align-self: center;
}


.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 2rem;
}

.input-container input {
    width: 30rem;
    height: 2rem;
    border: 0.13rem solid black;
    border-radius: 0.2rem;
    background-color: lightgray;
    font-size: 1.1rem;
    padding: 0rem 0.8rem;
}

#add-todo-btn {
    cursor: pointer;
    padding: 0.5rem;
    font-weight: bold;
    border: 0.15rem solid rgb(22, 34, 34);
    border-radius: 5px;
    background-color: lightskyblue;
}

.container #todo-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-top: 2px solid black;
    margin: 10px;
    overflow: auto;
    padding: 10px;
}

.single-todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    padding: 5px 10px;
    border: 2px solid black;
}

.single-todo .todo-text {
    font-size: 18px;
}

.single-todo .delete-button {

    cursor: pointer;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightblue;
}