/* General Stylings */
body {
    box-sizing: border-box;
    margin: 0;
    background-color: rgb(179, 214, 211);
}

.container {

    margin: 0 auto;
    width: 50%;
    margin-top: 5rem;
    height: min(30rem);

    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 20px;

    background-color: #f3f3f3;
}

.container h1 {
    align-self: center;
}

.add-todo-btn {
    align-self: center;
    cursor: pointer;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightblue;
}

.container .todo-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-top: 2px solid black;
    margin: 10px;
    overflow: auto;
    padding: 10px;
}

.single-todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    padding: 5px 10px;
    border: 2px solid black;
}

.single-todo .todo-text {
    font-size: 18px;
}

.single-todo .delete-button {

    cursor: pointer;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightblue;
}